apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react-frontend
          image: k8s-react:latest
#          imagePullPolicy: IfNotPresent   # use for kind cluster
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80

          # Resource Management
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

          # Health Checks
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
