apiVersion: apps/v1
kind: Deployment
metadata:
  name: golang-backend
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: golang-backend
  template:
    metadata:
      labels:
        app: golang-backend
    spec:
      containers:
        - name: golang-backend
          image: k8s-golang-backend:latest
#          imagePullPolicy: IfNotPresent   # use for kind cluster
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          # Resource Management
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

          # Health Checks
          livenessProbe:
            httpGet:
              path: /api/ping
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /api/ping
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
