apiVersion: apps/v1
kind: Deployment
metadata:
  name: golang-backend
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: golang-backend
  template:
    metadata:
      labels:
        app: golang-backend
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault

      containers:
        - name: golang-backend
          image: k8s-golang-backend:v1.0.0
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8000

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

          livenessProbe:
            httpGet:
              path: /api/ping
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /api/ping
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
